<div class="contain-to-grid">

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Richard <span class="amp">&</span> Kristen
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="top-bar-menu right">
        <li <%= is_page_active('/') %> ><%= link_to "Home", "/" %></li>
        <li <%= is_page_active('/our_story/') %> ><%= link_to "Our Story", "/our_story" %></li>
        <li <%= is_page_active('/photos/') %> ><%= link_to "Photos", "/photos" %></li>
        <li <%= is_page_active('/info/') %> ><%= link_to "Where/When/How", "/info" %></li>
        <li <%= is_page_active('/wedding_party/', 'xy') %> ><%= link_to "Wedding Party", "/wedding_party" %></li>
      </ul>

    </section>
  </nav>
</div>

