---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>

<div class="row info-nav">
  <div data-magellan-expedition="fixed">

    <dl class="sub-nav">
      <% headings = [
          { link_name: "wedding_day_schedule" },
          { link_name: "wedding_party_schedule"},
          {
            link_name: "venues" ,
            section_id: "location"
          },
          {
            link_name: "other_hotels",
            section_id: "hotels"
          }
        ]
      %>
      <% headings.each do |section| %>
      <dd data-magellan-arrival="<%= section[:section_id] ? section[:section_id] : section[:link_name] %>">
        <%= link_to "#{section[:link_name].split("_").map{|x| x.chr.upcase + x[1..-1]}.join("\s")}", "\##{section[:section_id] ? section[:section_id] : section[:link_name]}" %>
      </dd>
      <% end %>

    </dl>

  </div>
</div>

<div class="row border"></div>

<div class="big-day">

  <div data-magellan-destination="wedding_day_schedule" class="row">
    <a name="wedding_day_schedule"></a>
    <h2 style="margin-top: 1.5rem;">Wedding Day Schedule</h2>
    <div class="small-4 large-2 columns text-center">
      <h5>1:30 pm</h5>
    </div>

    <div class="small-8 large-10 columns">
      <p>Wedding ceremony at <em>Christ our Light Church</em></p>
    </div>

    <div class="small-4 large-2 columns text-center">
      <h5>6 pm</h5>
    </div>

    <div class="small-8 large-10 columns">
      <p>Reception begins with cocktail hour at <em>Hyatt Regency at Penn's Landing</em></p>
    </div>

    <div class="small-4 large-2 columns text-center">
      <h5>7 pm</h5>
    </div>

    <div class="small-8 large-10 columns">
      <p>The fun begins! :)</p>
    </div>

  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="wedding_party_schedule" class="row">
    <a name="wedding_party_schedule"></a>
    <h2 style="margin-top: 1.5rem;">Wedding Party Schedule</h2>
    <div class="small-4 large-3 columns text-center">
      <h5>Thursday, July 31st</h5>
    </div>

    <div class="small-8 large-9 columns">
      <ul class="no-bullet">
        <li>6:45 PM - Rehearsal at Christ Our Light Church</li>
        <li>8:00 PM - Dinner together</li>
      </ul>
    </div>


    <div class="small-4 large-3 columns text-center">
      <h5>Friday, August 1st</h5>
    </div>

    <div class="small-8 large-9 columns">
      <ul class="no-bullet">
        <li>Relax before big day :)</li>
        <ul class="fa-ul">
            <li><i class="fa fa-li fa-check"></i>Bridesmaids: Stay at the suite in the Hyatt Friday night to get ready early Saturday morning</li>
          </ul>
      </ul>
    </div>


    <div class="small-4 large-3 columns text-center">
      <h5>Saturday, August 2nd (Wedding Day!)</h5>
    </div>

    <div class="small-8 large-9 columns">

      <ul class="no-bullet">
        <li>8-12:00 PM - Bridesmaids get ready for hair & makeup</li>

        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i>Please wear button up shirts/zip-up hoodies for application of hair and makeup</li>
          <li><i class="fa fa-li fa-check"></i>Don't forget to bring your bridesmaid dresses!</li>
        </ul>

        <li>1:00 PM - Arrive at Christ Our Light Church</li>

        <ul class="fa-ul">
          <li><i class="fa fa-li fa-check"></i>Pictures will be after ceremony</li>
        </ul>
      </ul>

    </div>

  </div>
  <div class="small-12 large-6 small-uncentered large-centered columns text-center boxed">
    <p>Times may change due to photography purposes so please be flexible :)</p>
    <p>THANK YOU GUYS WE LOVE YOU ALL!!<333</p>
  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="location" class="row">
  <a name="location"></a>
    <h2>Wedding Ceremony & Reception Venues</h2>
    <div class="location small-12 large-6 columns">
      <img src="images/col.jpg" />
      <h4>The Catholic Community of Christ Our Light</h4>
      <div class="info">
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-home"></i>
            402 Kings Hwy N, Cherry Hill, NJ 08034
          </p>
        </div>
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-phone"></i>
            (856) 667-2440
          </p>
        </div>
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-globe"></i>
            <a style="text-decoration: underline;" href="http://christourlight.net">
              http://christourlight.net/
            </a>
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-map-marker"></i>
            <a href="https://www.google.com/maps/place/The+Catholic+Community+of+Christ+Our+Light/@39.928582,-74.995121,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6cb19c6c58991:0x9b848e023a918b9d">directions</a>
          </p>
        </div>

        <div class="notes">
          <p>
            Parking is in the rear of the church
          </p>
        </div>
      </div>

    </div>

    <div class="location small-12 large-6 columns">
      <img src="images/hyatt.jpg" />
      <h4>Hyatt Regency Philadelphia at Penn's Landing</h4>
      <div class="info">

        <div class="details">
          <p class="small">
            <i class="fa fa-fw fa-lg fa-home"></i>
            201 South Columbus Blvd.
            Philadelphia, Pennsylvania 19106
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-phone"></i>
            (215) 928-1234
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-globe"></i>
            <a style="text-decoration: underline;" href="http://pennslanding.hyatt.com/en/hotel/home.html">
              http://pennslanding.hyatt.com/en/hotel/home.html
            </a>
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-map-marker"></i>
            <a href="https://www.google.com/maps/place/Hyatt+Regency+Philadelphia+at+Penn%27s+Landing/@39.945196,-75.141523,17z/data=!3m1!4b1!4m2!3m1!1s0x89c6c888ffc736b9:0xa3b1c20bb4ab6f5b">directions</a>
          </p>
        </div>

        <div class="notes">
          <h5><strong>Reservations</strong></h5>
          <p>For hotel reservations, visit: <%= link_to "Hyatt Reservations", "https://resweb.passkey.com/go/palisramones" %></p>
          <p><i class="fa fa-star"></i>To receive the preferred rate, reservations must be made by <strong>July 3, 2014</strong></p>
          <br />
          <h5><strong>Directions</strong></h5>
          <h6>From I-95</h6>
          <p>Take I-95 to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Ben Franklin Bridge</h6>
          <p>Once over the bridge in Philadelphia, travel on the ramp towards I-95. Take I-95 South to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Walt Whitman Bridge</h6>
          <p>Once over the bridge in Philadelphia, bear to the right towards I-95. Take I-95 North to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Philadelphia Suburbs</h6>
          <p>Take I-76 East to I-676 East. Continue on I-676 East to I-95 South. Take I-95 South to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
             
          <h5><strong>Parking</strong></h5>
          <h6>Self Parking:</h6>
          <ul class="no-bullet">
            <li>
              <ul>
                <li>Reduced rate: $12</li>
                <li>Overnight rate: $30</li>
              </ul>
            </li>
          </ul>

          <h6>Valet:</h6>
          <ul class="no-bullet">
            <li>
              <ul>
                <li>Reduced rate: $19</li>
                <li>Overnight rate: $38.40</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="hotels" class="row">
    <a name="hotels"></a>
    <h2>Other Hotels - Near the Hyatt</h2>
    <h4><%= link_to "Sheraton Society Hill", "http://www.pennsviewhotel.com/" %><br />1 Dock Street, Philadelphia, PA 19106<br />(215) 238-6000</h4>
    <h4><%= link_to "Best Western Plus Independence Park Hotel", "http://www.independenceparkhotel.com/" %><br />235 Chestnut Street, Philadelphia, PA 19106<br />(215) 922-4473</h4>
    <h4><%= link_to "Crown Plaza", "http://www.crowneplaza.com/hotels/us/en/cherry-hill/cpcrw/hoteldetail/" %><br />2349 W. Marlton Pike, Cherry Hill, NJ 08002<br/>(856) 665-6666</h4>
    <h4><%= link_to "Penn's View Hotel", "http://www.pennsviewhotel.com/" %><br />Front & Market Streets<br />Philadelphia PA, 19106<br />1-215-922-7600
  </div>

</div>
