---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>

<div class="row info-nav">
  <div data-magellan-expedition="fixed">

    <dl class="sub-nav">
      <% headings = [
          { link_name: "wedding_day_schedule" },
          { link_name: "wedding_party_schedule"},
          {
            link_name: "venues" ,
            section_id: "location"
          },
          {
            link_name: "other_hotels",
            section_id: "hotels"
          }
        ]
      %>
      <% headings.each do |section| %>
      <dd data-magellan-arrival="<%= section[:section_id] ? section[:section_id] : section[:link_name] %>">
        <%= link_to "#{section[:link_name].split("_").map{|x| x.chr.upcase + x[1..-1]}.join("\s")}", "\##{section[:section_id] ? section[:section_id] : section[:link_name]}" %>
      </dd>
      <% end %>

    </dl>

  </div>
</div>

<div class="row border"></div>

<div class="big-day">

  <div data-magellan-destination="wedding_day_schedule" class="row">
    <a name="wedding_day_schedule"></a>
    <h2 class="small-12 columns" style="margin-top: 1.5rem;">Wedding Day Schedule</h2>
    <div class="small-4 large-2 columns text-center">
      <h5><strong>1:30 pm</strong></h5>
    </div>

    <div class="small-8 large-10 columns">
      <h5>Wedding ceremony at <em>Christ our Light Church</em></h5>
    </div>

    <div class="small-4 large-2 columns text-center">
      <h5><strong>6 pm</strong></h5>
    </div>

    <div class="small-8 large-10 columns">
      <h5>Reception begins with cocktail hour at <em>Hyatt Regency at Penn's Landing</em></h5>
    </div>

    <div class="small-4 large-2 columns text-center">
      <h5><strong>7 pm</strong></h5>
    </div>

    <div class="small-8 large-10 columns">
      <h5>The fun begins! :)</h5>
    </div>

  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="wedding_party_schedule" class="row">
    <a name="wedding_party_schedule"></a>
    <h2 class="small-12 columns" style="margin-top: 1.5rem;">Schedule for the Wedding Party</h2>
    <div class="small-4 large-3 columns text-center">
      <h5>Thursday, July 31st</h5>
    </div>

    <div class="small-8 large-9 columns">
      <ul class="no-bullet">
        <li>
          <strong>6:45 PM</strong>
          <p>Rehearsal at <em>Christ Our Light Church</em></p>
        </li>
        <li>
          <strong>8:00 PM</strong>
          <p>Dinner together at <em>Ocean Harbor</em> (TBD), 10th and Race St., Philadelphia</p>
        </li>
        <li class="show-for-small-only">
          **Due to this schedule, I recommend travelers go to their hotel room at <strong>5&ndash;6 PM</strong> and drop your stuff off before coming to the church. <em>Heavy</em> traffic to and from NJ to PA at this time. Please plan accordingly
        </li>
        <ul class="fa-ul hide-for-small-only">
          <li>
            <i class="fa fa-li fa-check"></i>
            Due to this schedule, I recommend travelers go to their hotel room at <strong>5&ndash;6 PM</strong> and drop your stuff off before coming to the church. <em>Heavy</em> traffic to and from NJ to PA at this time. Please plan accordingly
          </li>
        </ul>
      </ul>
    </div>

    <p class="break show-for-small-only"></p>

    <div class="small-4 large-3 columns text-center">
      <h5>Friday, August 1st</h5>
    </div>

    <div class="small-8 large-9 columns">
      <ul class="no-bullet">
        <li>
          <strong>1:00 PM</strong>
          <p>BBQ at Rich's for anyone in the area. Message him or Kristen for the address.</p>
        </li>
        <li>
          <strong>7:00 PM (cancelled)</strong>
          <p>Dinner at <%= link_to "Xfinity Live!", "https://maps.google.com/maps?q=Xfinity+Live!" %><br/>1100 Pattison Ave, Philadelphia, PA 19148</p>
        </li>
        <li class="show-for-small-only">
          <br/><em>**Bridesmaids</em>: Stay at the suite in the <em>Hyatt</em> Friday night to get ready early Saturday morning
        </li>
        <ul class="fa-ul hide-for-small-only">
          <li>
            <i class="fa fa-li fa-check"></i>
            Bridesmaids: Stay at the suite in the <em>Hyatt</em> Friday night to get ready early Saturday morning
          </li>
        </ul>
      </ul>
    </div>

    <p class="break show-for-small-only"></p>

    <div class="small-4 large-3 columns text-center">
      <h5>Saturday, August 2nd (Wedding Day!)</h5>
    </div>

    <div class="small-8 large-9 columns">

      <ul class="no-bullet">
        <li>
          <strong>8:00 AM&ndash;12:00 PM</strong>
          <p>Bridesmaids get ready for hair & makeup</p>
        </li>

        <li class="show-for-small-only">**Please wear button up shirts/zip-up hoodies for application of hair and makeup</li>
        <li class="show-for-small-only"><br/>**Don't forget to bring your bridesmaid dresses!</li>

        <ul class="fa-ul hide-for-small-only">
          <li><i class="fa fa-li fa-check"></i>Please wear button up shirts/zip-up hoodies for application of hair and makeup</li>
          <li><i class="fa fa-li fa-check"></i>Don't forget to bring your bridesmaid dresses!</li>
        </ul>

        <p class="empty-break show-for-small-only"></p>

        <li>
          <strong>11:00 AM</strong>
          <p>Groomsmen report to Hyatt Room #501 to get ready for pictures</p>
        </li>

        <li>
          <strong>1:30 PM</strong>
          <p>Arrive at <em>Christ Our Light Church</em></p>
        </li>

        <li class="show-for-small-only post-break">**Pictures will be <em>after</em> the ceremony. Please stay together!</li>

        <ul class="fa-ul hide-for-small-only">
          <li><i class="fa fa-li fa-check"></i>Pictures will be after the ceremony. Please stay together!</li>
        </ul>

        <li>
          <strong>3:15 PM</strong>
          <p>Pictures taken at <em>Christ Our Light Church</em></p>
        </li>

        <li>
          <strong>4:00 PM</strong>
          <p>Leave for <em>Hyatt</em></p>
        </li>

        <li>
          <strong>4:30&ndash;5:45 PM</strong>
          <p>Wedding Party pictures at <em>Hyatt</em>. Everyone <strong>must</strong> be there</p>
        </li>

        <li>
          <strong>6:00 PM</strong>
          <p>Cocktail hour</p>
        </li>

        <li>
          <strong>7:00 PM</strong>
          <p>Bridal Party to walk out</p>
        </li>
      </ul>

    </div>

    <p class="break show-for-small-only"></p>

    <div class="small-4 large-3 columns text-center">
      <h5>Sunday, August 4th</h5>
    </div>

    <div class="small-8 large-9 columns">
      <ul class="no-bullet">
        <li>
          <strong>1:00 PM</strong>
          <p>Lunch at Kristen's parents' house. Message Rich and Kristen for address. Bridal party please check emails for more information!</p>
        </li>
      </ul>
    </div>

  </div>
  <div class="small-12 large-6 small-centered large-centered columns text-center boxed">
    <p>Times may change due to photography purposes so please be flexible :)</p>
    <p>THANK YOU GUYS WE LOVE YOU ALL!!<333</p>
  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="location" class="row">
  <a name="location"></a>
    <h2 class="small-12 columns">Wedding Ceremony & Reception Venues</h2>
    <div class="location small-12 large-6 columns">
      <%= image_tag "images/col.jpg" %>
      <h4>The Catholic Community of Christ Our Light</h4>
      <div class="info">
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-home"></i>
            402 Kings Hwy N, Cherry Hill, NJ 08034
          </p>
        </div>
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-phone"></i>
            (856) 667-2440
          </p>
        </div>
        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-globe"></i>
            <a target="_blank" style="text-decoration: underline;" href="http://christourlight.net">
              http://christourlight.net/
            </a>
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-map-marker"></i>
            <a target="_blank" href="https://maps.google.com/maps/?q=The+Catholic+Community+of+Christ+Our+Light">directions</a>
          </p>
        </div>

        <div class="notes">
          <p>
            Parking is in the rear of the church
          </p>
        </div>
      </div>

    </div>

    <div class="location small-12 large-6 columns">
      <%= image_tag "images/hyatt.jpg" %>
      <h4>Hyatt Regency Philadelphia at Penn's Landing</h4>
      <div class="info">

        <div class="details">
          <p class="small">
            <i class="fa fa-fw fa-lg fa-home"></i>
            201 South Columbus Blvd.
            Philadelphia, Pennsylvania 19106
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-phone"></i>
            (215) 928-1234
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-globe"></i>
            <%= link_to "http://pennslanding.hyatt.com/en/hotel/home.html", "http://pennslanding.hyatt.com/en/hotel/home.html", target: "_blank" %>
          </p>
        </div>

        <div class="details">
          <p>
            <i class="fa fa-fw fa-lg fa-map-marker"></i>
            <a target="_blank" href="https://maps.google.com/maps/?q=Hyatt+Regency+Philadelphia+at+Penn%27s+Landing">directions</a>
          </p>
        </div>

        <div class="notes">
          <h5><strong>Reservations</strong></h5>
          <p>For hotel reservations, visit: <%= link_to "Hyatt Reservations", "https://resweb.passkey.com/go/palisramones", target: "_blank" %></p>
          <p><i class="fa fa-star"></i>To receive the preferred rate, reservations must be made by <strong>July 3, 2014</strong></p>
          <br />
          <h5><strong>Directions</strong></h5>
          <h6>From I-95</h6>
          <p>Take I-95 to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Ben Franklin Bridge</h6>
          <p>Once over the bridge in Philadelphia, travel on the ramp towards I-95. Take I-95 South to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Walt Whitman Bridge</h6>
          <p>Once over the bridge in Philadelphia, bear to the right towards I-95. Take I-95 North to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
          <h6>From the Philadelphia Suburbs</h6>
          <p>Take I-76 East to I-676 East. Continue on I-676 East to I-95 South. Take I-95 South to Exit 20 (Washington Avenue/Columbus Boulevard). Make a left onto Columbus Boulevard. Our hotel is located one mile north on the right.</p>
          <br />
             
          <h5><strong>Parking</strong></h5>
          <p>Hotel guests staying overnight who pay the overnight can leave and come back without paying for parking for the duration of their stay. Take advantage because street parking is non-existent near the Hyatt</p>
          <br/>
          <h6>Self Parking:</h6>
          <ul class="no-bullet">
            <li>
              <ul>
                <li>Reduced rate: $12</li>
                <li>Overnight rate: $30</li>
              </ul>
            </li>
          </ul>

          <h6>Valet:</h6>
          <ul class="no-bullet">
            <li>
              <ul>
                <li>Reduced rate: $19</li>
                <li>Overnight rate: $38.40</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section-border"></div>

  <div data-magellan-destination="hotels" class="row">
    <a name="hotels"></a>
    <h2 class="small-12 columns">Other Hotels - Near the Hyatt</h2>
    <h4 class="small-12 columns"><%= link_to "Sheraton Society Hill", "http://www.pennsviewhotel.com/", target: "_blank" %><br />1 Dock Street, Philadelphia, PA 19106<br />(215) 238-6000</h4>
    <h4 class="small-12 columns"><%= link_to "Best Western Plus Independence Park Hotel", "http://www.independenceparkhotel.com/", target: "_blank" %><br />235 Chestnut Street, Philadelphia, PA 19106<br />(215) 922-4473</h4>
    <h4 class="small-12 columns"><%= link_to "Crown Plaza", "http://www.crowneplaza.com/hotels/us/en/cherry-hill/cpcrw/hoteldetail/", target: "_blank" %><br />2349 W. Marlton Pike, Cherry Hill, NJ 08002<br/>(856) 665-6666</h4>
    <h4 class="small-12 columns"><%= link_to "Penn's View Hotel", "http://www.pennsviewhotel.com/", target: "_blank" %><br />Front & Market Streets<br />Philadelphia PA, 19106<br />1-215-922-7600
  </div>

</div>
