---
title: Rich & Kristen
---
<%= partial "navbar" %>

<div class="row border"></div>

<div class="row girls wed-party">

  <br />
  <h2>The Bridesmaids</h2>

  <dl class="sub-nav show-for-large-up">

  <% data.bridesmaids.each_with_index do |f, index| %>
    <dd <%= index.zero? ? "class='active'" : nil %>>
      <a data-orbit-link="g<%= index %>"><%= f.first_name %></a>
    </dd>
  <% end %>

  </dl>

</div>

<div class="row wed-party">

  <div class="girls-slick hide-for-large-up">
    <% data.bridesmaids.each_with_index do |f, index| %>
    <div>
      <div class="circular" style="background: url('/images/bridal_party/<%= f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>
    </div>
    <% end %>
  </div>

  <ul id="girls" class="show-for-large-up" data-orbit data-options="timer_speed: 25000;
                            pause_on_hover: true;
                            next_on_click: false;
                            slide_number: false;
                            timer_show_progress_bar: false;
                            bullets: false;
                            navigation_arrows: false;
                            resume_on_mouseout: false;">

    <% data.bridesmaids.each_with_index do |f, index| %>

    <li data-orbit-slide="g<%= index %>">
      <div class="mm small-12 medium-3 medium-uncentered large-4 small-centered large-uncentered columns circular" style="background: url('/images/bridal_party/<%= f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="small-12 medium-7 large-8 columns bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>
    </li>

    <% end %>

  </ul>

</div>

<div class="show-for-small-only">
  <br/>
  <div class="row border"></div>
  <br/>
</div>

<div class="row gw wed-party">
  <h2>The Groomswomen</h2>
  <dl class="sub-nav show-for-large-up">
  <% data.groomswomen.each_with_index do |f, index| %>
    <dd <%= index.zero? ? "class='active'" : nil %>>
      <a data-orbit-link="gw<%= index %>"><%= f.first_name %></a>
    </dd>
  <% end %>
  </dl>

</div>

<div class="row wed-party">
  <div class="gw-slick hide-for-large-up">
    <% data.groomswomen.each_with_index do |f, index| %>
    <div>

      <div class="circular" style="background: url('/images/bridal_party/<%= f.photo ? f.photo : f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>

    </div>
    <% end %>
  </div>

  <ul id="groomswomen" class="show-for-large-up" data-orbit data-options="timer_speed: 25000;
                            pause_on_hover: true;
                            next_on_click: false;
                            slide_number: false;
                            timer_show_progress_bar: false;
                            bullets: false;
                            navigation_arrows: false;
                            resume_on_mouseout: false;">

    <% data.groomswomen.each_with_index do |f, index| %>

    <li data-orbit-slide="gw<%= index %>">
      <div class="small-12 medium-centered large-4 small-centered large-uncentered columns circular" style="background: url('/images/bridal_party/<%= f.photo ? f.photo : f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="small-12 medium-12 large-8 columns bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>
    </li>

    <% end %>

  </ul>
</div>

<div class="show-for-small-only">
  <br/>
  <div class="row border"></div>
  <br/>
</div>

<div class="row boys wed-party">
  <h2>The Groomsmen</h2>
  <dl class="sub-nav show-for-large-up">
  <% data.groomsmen.each_with_index do |f, index| %>
    <dd <%= index.zero? ? "class='active'" : nil %>>
      <a data-orbit-link="b<%= index %>"><%= f.first_name %></a>
    </dd>
  <% end %>
  </dl>
</div>

<div class="row wed-party">
  <div class="boys-slick hide-for-large-up">
    <% data.groomsmen.each_with_index do |f, index| %>
    <div>

      <div class="circular" style="background: url('/images/bridal_party/<%= f.photo ? f.photo : f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>

    </div>
    <% end %>
  </div>

  <ul id="boys" class="show-for-large-up" data-orbit data-options="timer_speed: 25000;
                            pause_on_hover: true;
                            next_on_click: false;
                            slide_number: false;
                            timer_show_progress_bar: false;
                            bullets: false;
                            navigation_arrows: false;
                            resume_on_mouseout: false;">

    <% data.groomsmen.each_with_index do |f, index| %>

    <li data-orbit-slide="b<%= index %>">
      <div class="mm small-12 medium-3 medium-uncentered large-4 small-centered large-uncentered columns circular" style="background: url('/images/bridal_party/<%= f.photo ? f.photo : f.first_name %>.jpg') no-repeat; background-size: cover;"></div>
      <div class="small-12 medium-7 large-8 columns bio">
        <h4 class="full-name"><%= f.full_name %></h4>
        <p><%= f.bio.gsub("\n","<br/><br/>") %></p>
      </div>
    </li>

    <% end %>

  </ul>
</div>
